.place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 760px) {

    .place__title {
      font-size: 32px;
      line-height: 35px;
    }
}  