.place__title {
    display: block;
    max-width: 228px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 860px) {

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}  

@media screen and (max-width: 760px) {

    .place__title {
      font-size: 32px;
      line-height: 35px;
      max-width: 440px;
    }
}  