.place__container{
    display: flex;
    flex-direction: row;
    padding-bottom: 48px;
    /* margin-bottom: 80px; */
}

.place__container:last-child {
    padding-bottom: 0;
    
}


@media screen and (max-width: 760px) {

    .place__container {
      flex-direction: column;
    }
}


   


/* @media screen and (max-width: 320px) {

    .place__container {
        padding-top: 16px;
        padding-bottom: 16px;
    }
} */
