.photo-grid__item {
    max-width: 100%;
    object-position: center;
    min-width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    min-height: 225px;
  }   
}


@media screen and (max-width: 513px) {
  .photo-grid__item {
    min-width: 350px;
  }   
}