.footer__copyright {
    font-size: 14px;
    margin-left: auto;
    justify-self: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

@media screen and (max-width: 770px) {

    .footer__copyright {
      margin-right: 0;
    }
    
}
  

@media screen and (max-width: 761px) {

  .footer__copyright {
    margin-left: 0px;
  }
  
}
