.footer__copyright {
    font-size: 14px;
    position: absolute;
    right: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

@media screen and (max-width: 760px) {

    .footer__copyright {
      left: 0;
      bottom: 24;
    }
    
}
  