.place__container-column-below{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
}

@media screen and (max-width: 760px) {

    .place__container-column-below {
      width: 100%;
    }
}  



@media screen and (max-width: 320px) {

  .place__container-column-below {
    padding-left: 12px;
    padding-right: 12px;
  }
}  
