.intro {
    max-width: 984px;
    margin: auto;
    /* max-width: 690px; */
    padding-top: 48px;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 92px;
}


@media screen and (max-width: 760px) {

    .intro {
      width: 90%;
      padding-top: 40px;
      padding-bottom: 64px;
    
    }
}