@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/__item/intro__list__item.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__container/place__container.css);
@import url(../blocks/place/__container/__column-below/place__container__column-below.css);
@import url(../blocks/place/__container/__column-up/place__container__column-up.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__website/__url/place__website__url.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@media screen and (max-width: 760px) {

  .lead__title {
    font-size: 40px;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
  }

  .intro {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 64px;
  
  }

  .intro__title {
    width: 90%;
  }

  .intro__text {
    display: none;
  }

  .intro__list {
    display: none;
  }

  .place__title {
    font-size: 32px;
    
  }


  .lead__caption {
      width: 90%;
      margin: auto;
      margin-top: 8px;
      font-size: 10px;
  }
  .place__container {
    flex-direction: column;
  }

  .place__container__column-up {
    width: 100%;
  }

  .place__container__column-below {
    width: 100%;
  }

  .place__website {
    padding-left: 0;
  }  

  .place__website__url {
    margin-top: 32px;
    padding-left: 0;
  }

  .place__paragraph {
    padding-top: 32px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .cover__title {
    font-size: 32px;
  }

  .photo__grid {
    width: 100%;
  }

  .cover__subtitle {
    font-size: 14px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__link {
    padding-top: 32px;
  }
  .footer__link:nth-child(5) {
    padding-bottom: 86px;
  }

  .footer__copyright {
    left: 0;
    bottom: 24;
  }
  
}



