.cover__background {
    width: 100%;
    object-position: center;
    object-fit: cover;
    filter: brightness(75%);
    transition: all .3s ease-in-out;
}

.cover:hover .cover__background {
    filter: brightness(50%);
}
