.cover__title {
    text-decoration: none;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    max-width: 560px;
    margin-top: 0;
    margin-bottom: 32px;
}

/* .cover__background .cover__title:hover {
    filter: brightness(25%);
} */