.cover__title {
    text-decoration: none;
    color: #fff;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
    margin-top: 0;
    margin-bottom: 32px;
}

@media screen and (max-width: 760px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
}  
