.place__website {
    color:#fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    /* padding-left: 40px; */
    display: block;
    transition: opacity 0.5s ease-out;
}

.place__website:hover {
    opacity: 0.8;
}


@media screen and (max-width: 760px) {

    .place__website {
      padding-left: 0;
    }  
}  