.intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    max-width: 690px;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 760px) {
    .intro__title {
      width: 90%;
    }
}  